streamlit
python-dotenv
langchain
langchain-google-genai
pandas

google-ai-generativelanguage # Must have no version pin
altair==5.5.0
annotated-types==0.7.0
anyio==4.11.0
async-timeout==4.0.3
attrs==25.4.0
blinker==1.9.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
exceptiongroup==1.3.0
filetype==1.2.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.26.0
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.75.1
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
langchain-core==0.3.79
langchain-text-splitters==0.3.0
langsmith==0.1.92
MarkupSafe==2.1.5
multidict==6.0.5
numpy==1.26.4
openai==1.47.0
opentelemetry-api==1.28.0
opentelemetry-exporter-otlp-proto-http==1.28.0
opentelemetry-instrumentation==0.49b0
opentelemetry-proto==1.28.0
opentelemetry-sdk==1.28.0
opentelemetry-semantic-conventions==0.49b0
opentelemetry-util-http==0.49b0
orjson==3.10.6
packaging==24.3.0
pillow==10.6.0
protobuf==5.27.3
proto-plus==1.24.0
pydantic==2.12.0
pydantic_core==2.20.1
pydeck==0.9.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
referencing==0.37.1
regex==2024.10.23
requests==2.33.0
rpds-py==0.19.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.36
tenacity==8.5.0
termcolor==2.5.0
tiktoken==0.7.0
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.14.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
watchdog==4.0.1
yarl==1.9.4

